<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="MyTranslate Category"
            id="myTranslate.commands.category">
      </category>
      <command
            name="MyTranslate Command"
            categoryId="myTranslate.commands.category"
            id="myTranslate.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="myTranslate.commands.sampleCommand"
            class="mytranslate.handlers.KeyHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="myTranslate.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+M2+C"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   
    <extension
         point="org.eclipse.ui.views">
      <category
            name="MyTranslate Category"
            id="MyTranslate">
      </category>
      <view
            name="MyTranslate View"
            icon="icons/sample.gif"
            category="MyTranslate"
            class="mytranslate.views.MyTranslateView"
            id="mytranslate.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="mytranslate.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="mytranslate.preferences.PreferenceInitializer">
      </initializer>
      <initializer
            class="mytranslate.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="mytranslate.preferences.MyTranslatePreferencePage"
            id="mytranslate.preferences.MyTranslatePreferencePage"
            name="MyTranslate Preferences">
      </page>
   </extension>

</plugin>
